
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="width:80%;margin:auto;background-color:chartreuse;padding:10px;border-radius:10px">
        <h1>Wetter Api Simpel</h1>
        <textarea rows="5" cols="40" maxlength=111 readonly>Erklärung zur Benutzung https://localhost:7197/home/Wetter?Ort=Neuss</textarea><br />
        <a href="https://localhost:7197/home/Wetter?Ort=Neuss">https://localhost:7197/home/Wetter?Ort=Neuss</a>
    </div>
</body>
</html>
